@import './partials/fonts';
@import './vendors/bs-x5/bootstrap';
@import './partials/base';



.login-section{
    display: flex;
    align-items: center;


}


.left-section{
    width: 50%;
    height: 100%;
}


.left-section-inner{
    position: relative;
    figure{
        img{
            width: 100%;
            height: 100vh;
            object-fit: cover;
            z-index: -1;
        }
    }
}


.left-section-inner{
        figcaption{
            position: absolute;
            width: 100%;
            top: 80%;
            padding: 0 6rem 0 3rem;
            transform: translate(0,-50%);
            

        }
    }


.left-section-inner{
    .figcaption-inner{
        background-color: $white-color;
        padding: 2rem;
        border-radius: 0.5rem;
    }
}   

.figcaption-inner{
    h2{
        font-size: calc(1.5rem + 0.25vw);
        font-weight: 700;
        padding-bottom: 0.5rem;
    }
    h4{
        font-size: calc(1.2rem + 0.25vw);
        font-size: 1.2rem;
        font-weight: 600;
    }
}









.right-section{
    width: 50%;
    height: 100%;
    padding: 0 3rem;
}

.right-section-inner{
    color: $black-color;
    .title{
        h2{
            padding-bottom: 1rem;
            font-weight: 600;
        }
        h4{
            font-weight: 500;
            font-size: 1.3rem;
            a{
                color: $black-color;
            }
        }

    }
}



.right-section-inner{
    .forgot-password{
        h4{
            font-size: 1.1rem;
            font-weight: 500;
        }
      a{
        color: $black-color;
      }

    }
}



.form{
    padding: 4rem 0;
    .form-control {
        padding: 0.8rem 0.75rem;
        border: 2px solid var(--bs-border-color);
    }
}



.form{
    .forgot-password{
        h4{
            font-size: 1.1rem;
            font-weight: 500;
        }
      a{
        color: $black-color;
      }

    }
}



.right-section-inner{
    .Log-in{
        button{
            width: 100%;
            padding: 0.8rem 0.75rem;
            background-color: $primary-color;
            color: $black-color;
            border: 0;
            font-weight: 600
        }

    }
}












@import './partials/mediaquery';